<!doctype html>
<html lang='en'>
<head>
	<title><%= @title %></title>
	<link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
	<link href='/css/site.css' type='text/css' media="screen" rel="stylesheet"  />
	<link href='/css/print.css' type='text/css' media="print" rel="stylesheet"  />
	<!--[if IE]>
	<link href='/css/ie.css' type='text/css' media="screen" rel="stylesheet"  />
	<![endif]-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="/scripts/jquery.fittext.js"></script>
	<script src="/scripts/site.js"></script>
</head>
<body class='page <%= @body_class %>'>
	<%= render :partial => 'nav' %>
	<%= render :partial => 'header' %>
	<div class='container main'>
		<div class='row'>
			<div class='span8'>
				<div class='content'>
				<%= yield %>
				</div>
			</div>
			<div class='span4'>
				<%= render :partial => 'sidebar' %>
			</div>
		</div>
		<footer>
			<%= render :partial => 'footer' %>
		</footer>
	</div>

</body>

</htmL>
