<!doctype html>
<html>
<head>
	<title><%= @title %></title>
	<link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
	<link href='/css/site.css' type='text/css' media="screen" rel="stylesheet"  />
	<link href='/css/print.css' type='text/css' media="print" rel="stylesheet"  />
	<!--[if IE]>
	<link href='/css/ie.css' type='text/css' media="screen" rel="stylesheet"  />
	<![endif]-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="/scripts/jquery.fittext.js"></script>
	<script src="/scripts/site.js"></script>
</head>
<body class='page <%= @body_class %>'>
<div class='container-fluid'>
	<header>
		<%= render :partial => 'header' %>
	</header>
</div>
<div class='container-fluid'>
<div class='row-fluid'>
	<div class='span9'>
		<%= yield %>
	</div>
	<div class='span3'>
		<%= render :partial => 'sidebar' %>
	</div>
</div>
<footer>
	<%= render :partial => 'footer' %>
</footer>
</div>

</body>

</htmL>
